@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);

html, body {
  background-color: #fafafa;
  color: #b35445;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #b35445;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img {
  max-height: 400px;
  max-width: 100%;
}

.clickable {
  cursor: pointer;
}

.rounded {
  border-radius: 4px;
}

.shadowed {
  -moz-box-shadow: 0 3px 8px 1px #ccc;
  -webkit-box-shadow: 0 3px 8px 1px #ccc;
  box-shadow: 0 3px 8px 1px #ccc;
}

@media (max-width: 480px) {
  #app {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 481px) {
  #app {
    margin: 0 auto;
    width: 100%;
  }
}
