@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900);

html, body {
  background-color: #fafafa;
  color: #b35445;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #b35445;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img, video {
  max-height: 400px;
  max-width: 100%;
}

input {
  display: block;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  height: 2.5rem;
  margin-bottom: 1rem;
  padding: .25rem .5rem;
  width: 100%;
}

input:focus {
  outline: none;
}

label {
  display: block;
  font-size: .875rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.btn {
  background-color: #b35445;
  border: 1px solid transparent;
  color: #fafafa;
  cursor: pointer;
  display: inline-block;
  height: auto;
  line-height: 1.125rem;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  vertical-align: middle;
  -webkit-appearance: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

*:first-child+html .clearfix { zoom: 1; }

.clickable {
  cursor: pointer;
}

.left {
  float: left;
}

.mt1 {
  margin-top: 0.5rem;
}

.mt2 {
  margin-top: 1rem;
}

.mt3 {
  margin-top: 2rem;
}

.mt4 {
  margin-top: 4rem;
}

.mx-auto {
  margin: 0 auto;
}

.px1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.px2 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py1 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.py2 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.py3 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.py4 {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.red {
  color: #b35445;
}

.right {
  float: right;
}

.rounded {
  border-radius: 3px;
}

.shadowed {
  -moz-box-shadow: 0 3px 8px 1px #ccc;
  -webkit-box-shadow: 0 3px 8px 1px #ccc;
  box-shadow: 0 3px 8px 1px #ccc;
}

@media (max-width: 480px) {
  #app {
    margin: 0 auto;
    width: 100%;
  }
}

@media (min-width: 481px) {
  #app {
    margin: 0 auto;
    width: 100%;
  }
}
